<strong> Olá, {{student}} </strong>
<p>Obrigado por realizara matricula no gympoint, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{student}} <br />
  <strong>Plano: </strong> {{plan}} <br />
  <strong>Valor Mensal: </strong> R$ {{price}}<br />
  <strong>Valor Total: </strong> R$ {{total}} <br />
  <strong>Fidelidade: </strong> {{months}} meses <br />
  <strong>Data de término: </strong> {{date}} <br />
  <br />
  <small>
    Seja bem-vindo e desfrute de nossas instalações, por mais, estamos a disposição.
  </small>
</p>
